@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

/* Chrome */
@media (forced-colors: active) {
  :root {
    color-scheme: light;
  }
}

html {
  width: 100svw !important;
}

/* Анимация за рисуване на плика */
@keyframes draw-envelope {
  0% {
    stroke-dashoffset: 100;
    /* Скрито */
    opacity: 0.5;
  }

  40% {
    stroke-dashoffset: 0;
    /* Нарисувано */
    opacity: 1;
  }

  60% {
    stroke-dashoffset: 0;
    /* Задържане */
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 100;
    /* Изтриване (обратно) */
    opacity: 0.5;
  }
}

.animate-draw-envelope {
  stroke-dasharray: 100;
  /* Дължината на линията */
  animation: draw-envelope 4s ease-in-out infinite;
  /* Времетраене и безкраен цикъл */
}